<h1>Camera access using WebRTC</h1>

<hr>
<h2>Demo</h2>
<video webRTCStream class="video-container">Video stream not available.</video>
<div class="buttons-container">
  <button (click)="webRTCStream.play()">Start</button>
  <button (click)="webRTCStream.pause()">Pause</button>
  <button (click)="webRTCStream.stop()">Stop</button>
  <button (click)="picSrc = webRTCStream.take()">Take</button>
  <button (click)="webRTCStream.recordStart()">Record Start</button>
  <button (click)="webRTCStream.recordStop()">Record Stop</button>
</div>

<hr>
<h2>Pic Result</h2>
<img [src]="picSrc"/>

<hr>
<h2>Video Result</h2>