<h1>Camera access using WebRTC</h1>

<hr>
<h2>Demo</h2>
<video mediaStream (videoRecorded)="onVideo($event)" class="video-container">Video stream not available.</video>
<div class="buttons-container">
  <button (click)="mediaStream.play()">Start</button>
  <button (click)="mediaStream.pause()">Pause</button>
  <button (click)="mediaStream.stop()">Stop</button>
  <button (click)="picSrc = mediaStream.take()">Take</button>
  <button (click)="mediaStream.recordStart()">Record Start</button>
  <button (click)="mediaStream.recordStop()">Record Stop</button>
</div>

<hr>
<h2>Pic Result</h2>
<img [src]="picSrc"/>

<hr>
<h2>Video Result</h2>